body{
	font-family: Inter, sans-serif;
}

.header{
	 display: flex;
	 align-items: center;
	 justify-content: space-between;
	 padding-top: 16px;
}

.header__buttons{
	display: flex;
	gap: 10px;
}

.container{
	max-width: 1240px;
	margin: 0 auto;
	padding-left: 64px;
	padding-right: 64px;
}

.title{
	font-family: 'Inter', sans-serif;
	color: #86868C;
	display: flex;
	font-size: 26px;
	align-items: center;
	gap: 10px;
	margin-top: 86px;
}

.intro_title{
	font-family: 'Inter', sans-serif;
	margin-top: 1px;
	font-size: 70px;
	font-weight: 500;
	margin-top: 22px;
}

.logo{
	height: 27.5px;
}

.button{
	display: flex;
	gap: 4px;
	align-items: center;
	padding: 10px 20px 12px;
	border-radius: 76px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	transition: fill 1s, stroke 1s, border-color 1.0s, background-color 1.0s, color 1.0s;
	cursor: pointer;
}

.button-light{
	background: white;
    color: black;
}

.button-dark{
	background: black;
	color: #fff;
	fill: white;
	stroke: white;
}

.button-dark:hover {
  background-color: #fff;
  border-color: black;
  color: #444;
  fill: black;
  stroke: black;
}

.button-light:hover {
  background-color: #000;
  border-color: transparent;
  color: #fff;
}

.dja{
	width:36px;
	height:36px;
}

.box{
	display: flex;
    border-radius: 36px;
    background-color: #99CEFF;
    background-position: right;
    flex-direction: row-reverse;
    overflow: hidden;
    justify-content: space-between;
    position: relative;
}

.box__mebeats{
   max-width: 100%;
   max-height: 100%;
   background-color: #EDEFF2;
}

.box__stormex{
   max-width: 100%;
   max-height: 100%;
   background-color: #0E0E14;
   color: white;
}

.box__roki{
   max-width: 100%;
   max-height: 100%;
   background: radial-gradient(61.55% 61.55% at 50% 79.2%, #D81E33 0%, #FF6801 100%);
   color: white;
}

.box-size{
  	display: flex;
    transition: transform .8s;
}

.main{
	max-width: 100%;
    max-height: 100%;
	transition: transform .8s;
}

.box:hover .main{
  	transform: scale(1.1);
}

.text{
	left: 30px;
	top: 36px;
	position: absolute;
}

.box__title{
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
}

.box__subtitle{
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
}

.box__button{
	position: absolute;
	left: 30px;
	bottom: 28px;
	background: white;
    color: black;
}

.box:hover .box__button{
  background-color: #000;
  border-color: transparent;
  color: #fff;
}

.box__arrow{
	stroke: black;
	transition: 0.8s;
}

.box:hover .box__arrow{
	stroke: white;
    transform: rotate(45deg);
}

.box__container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 16px;
}

.footer__container{
	margin-top: 271px;
}

.footer__text{
	justify-content: space-between;
	display: flex;
	align-items: center;
}

.email{
	font-family: 'Inter';
	font-size: 26px;
	text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 38%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size 1s;
    cursor: pointer;
}

.email:hover{
    background-size: 99.2% 2px;
}

.email:after{
    background-size: 0% 2px;
}

.footer__links{
   column-gap: 85px;
   row-gap: 40px;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   color: #86868C;
   cursor: pointer;
}

.link{
  height: 21px;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 4px;
  transition: background-image 1s, color 1s;
}

.link:hover{
   color: black;
   background-size: 100% 2px;
}


.footer__copyrights{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: #86868C;
}

.language-switcher-en{
	width: 91px;
    height: 19px;
    cursor: pointer;
}


.footer__header{
    display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer__content{
	display: flex;
	justify-content: space-between;
	margin-top: 68px;
}

.footer__bottom{
    display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 88px;
	margin-bottom: 36px;
}

.burger{
	cursor: pointer;
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 30px;
}

.burger-active span{
    display: none;

}

.burger span{
	height: 2px;
	width: 100%;
	background-color: black;
}

.burger:before, .burger:after{
	content:'';
	position: absolute;
	height: 2px;
	width: 100%;
	background-color: black;

}

.burger-active:before, .burger-active:after{
    content:'';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: white;
    transition: 0.3s;
}

.burger-active:before{
    transform: rotate(45deg);
    translate: 0px 10px;
}

.burger-active:after{
    transform: rotate(-45deg);
    translate: 0px -10px;
}

.burger::before{
	top: 4px;
}

.burger::after{
	bottom: 4px;
}

.footer__mobile{
    display: none;
    gap: 47px;
}

.email__mobile{
    font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
}

.footer__links__mobile{
    column-gap: 36px;
    row-gap: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: #86868C;
    cursor: pointer;
}

.link__mobile{
	height: 21px;
  	text-decoration: none;
	background-image: linear-gradient(currentColor, currentColor);
	background-position: 0% 100%;
	background-repeat: no-repeat;
	background-size: 0% 4px;
	transition: background-image 1s, color 1s;
}

.link__mobile:hover{
	color: black;
	background-size: 100% 2px;
}

nav {
    display: flex;
}

.menu {
    align-items: center;
    justify-content: center;
    position: absolute
    display: none;
    flex-direction: column;
}

.header__main{
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.mobile-menu{
    display: none;
    background-color: black;
    z-index: 49;
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
}

.mobile{
    position: relative;
    top: 80px;
    right: 20px;
    width: 100%;
    margin-bottom: 7px;
}

.language-switcher-en-mobile{
    position: relative;
    cursor: pointer;
    color: white;
    top: 43%;
    left: 43%;
    font-size: 90%;
}

.dja-light{
    position: absolute;
    top: 7px;
    left: 10px;
    width:36px;
    height:36px;
}

@media (max-width: 786px) {
          .button{     
               text-align: center;
               justify-content: center;
          }
      }

@media (max-width: 990px) {
          .box__container{
              grid-template-columns: 1fr;
          }
      }

@media (max-width: 990px) {
          .box{
              max-height: 738px;
          }
      }      

@media (max-width: 768px) {
          .footer__links{
              grid-template-columns: 1fr 1fr;
              
          }
      }

@media (max-width: 768px) {
          .email{
              background-position: 0% 22%;
          }
      }  

@media (max-width: 786px) {
          .box__title{
               font-size: 140%;
          }
      }

@media (max-width: 786px) {
          .box__subtitle{
               font-size: 170%;
          }
      }

@media (max-width: 786px) {
          .title{
               font-size: 110%;
          }
      }

@media (max-width: 786px) {
          .intro_title{
               font-size: 210%;
          }
      }  

@media (max-width: 786px) {
          .container{
               padding-left: 11px;
	           padding-right: 11px;
          }
      }    

@media (max-width: 786px) {
          .header__buttons{
            display: none;
          }
      }  

@media (max-width: 786px) {
          .burger{
            display: flex;
          }
      }

@media (max-width: 786px) {
          body{
            overflow-x: hidden;
          }
      }

@media (max-width: 786px) {
          .language-switcher-en{
            display: none;
          }
      }

@media (max-width: 786px) {
          .box{
            flex-direction: row;
            justify-content: center;
            height: 700px; 
          }
      }

@media (max-width: 786px) {
          .footer__content{
            display: none;
          }
      }

@media (max-width: 786px) {
          .footer__mobile{
            display: flex;
            flex-direction: column;
            align-items: center;
          }
      }

@media (max-width: 786px) {
          .footer__bottom{
            display: flex;
            flex-direction: column;
            align-items: center;
          }
      }

@media (max-width: 786px) {
          .footer__header{
          	margin-bottom: 26px;
            display: flex;
            flex-direction: column;
            align-items: center;
          }
      }

@media (max-width: 786px) {
          .box-size{

          }
      }

@media (max-width: 786px) {
          .main{
            object-fit: cover;
			width: 800px;
          }
      }
    


